@model List<araba_kirala.Models.Cars>
<div class="gallery_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="gallery_taital">Our best offers</h1>
            </div>
        </div>
        <div class="gallery_section_2">
            <div class="row">
              @foreach(var item in Model)
              {

                <div class="col-md-4">
                    <div class="gallery_box">
                        <div class="gallery_img"><img src="Images/@item.Picture"></div>
                        <h3 class="types_text">@item.BrandID</h3>
                        <p class="looking_text">@item.ColorID</p>
                        <div class="read_bt"><a href="#">Book Now</a></div>
                    </div>
                </div>
              }

                <div class="col-md-4">
                    <div class="gallery_box">
                        <div class="gallery_img"><img src="images/img-2.png"></div>
                        <h3 class="types_text">Toyota car</h3>
                        <p class="looking_text">Start per day $4500</p>
                        <div class="read_bt"><a href="#">Book Now</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery_box">
                        <div class="gallery_img"><img src="images/img-3.png"></div>
                        <h3 class="types_text">Toyota car</h3>
                        <p class="looking_text">Start per day $4500</p>
                        <div class="read_bt"><a href="#">Book Now</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div class="gallery_box">
                        <div class="gallery_img"><img src="images/img-1.png"></div>
                        <h3 class="types_text">Toyota car</h3>
                        <p class="looking_text">Start per day $4500</p>
                        <div class="read_bt"><a href="#">Book Now</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery_box">
                        <div class="gallery_img"><img src="images/img-2.png"></div>
                        <h3 class="types_text">Toyota car</h3>
                        <p class="looking_text">Start per day $4500</p>
                        <div class="read_bt"><a href="#">Book Now</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery_box">
                        <div class="gallery_img"><img src="images/img-3.png"></div>
                        <h3 class="types_text">Toyota car</h3>
                        <p class="looking_text">Start per day $4500</p>
                        <div class="read_bt"><a href="#">Book Now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>